<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.56.0.0" targetFramework="Native" />
  <package id="CrossPlatformTSCReg" version="1.0.2.0" targetFramework="Native" />
  <package id="TSCDebugHelpers" version="1.0.0.0" targetFramework="Native" />
  <package id="TSCUtl" version="1.0.0.2" targetFramework="Native" />
</packages>